@import url(../../dist/github-calendar-responsive.css);
@import url(https://unpkg.com/bag.css@1.0.12/dist/bag.fixed.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/github.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/octicons/3.3.0/octicons.css);
@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);

.bag > h1 {
    text-align: center;
    font-weight: 100;
    font-size: 25px;
}

.monospace {
    font-family: 'Cutive Mono', monospace !important;
}


body {
    font-family: 'Cutive Mono', monospace;
}

@media(min-width:992px){.bag.fixed{width: 784px;}}

pre {
    background: white;
    border: 1px solid #DDDDDD;
    padding: 10px;
    overflow: auto;
    border-radius: 3px;
    color: #373727;
}

.calendar {
    margin-bottom: 10px;
}

p {
    color: #444444;
}

img.spinner {
    text-align: center;
    margin: 0 auto;
    display: block;
    height: 49px;
    padding: 40px 0;
}
